<div class = "jumbotron vertical-center">
	<div class = "container text-center">
	
	
	<% if user_signed_in? %>
	<p>Find your area on the map!</p>	
			
	<% else %>
	<h1>Welcome to the app!</h1>
		<p>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
	</div>
</div>
<div>
